<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <div th:fragment="footerCss">
    <style>
        div.footer{
            width:100%;
            background-color: lightgreen;
        }
        p{
            text-align: center;
            margin: 20px;
        }
    </style>
    </div>
</head>
<body>
<div th:fragment="footer">
<div class="footer">
    <br>
    <br>
<p  sec:authorize="isAuthenticated()">
    Logger User:
</p>
<p>2018 Jenia Skoriy</p>
    <br>
    <br>
</div>
</div>
</body>
</html>