<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home BLog</title>

    <div th:replace="/header :: headCss"/>
    <div th:replace="/footer :: footerCss"/>

</head>
<body>
<div th:replace="header::header"/>

<div th:replace="posts::posts"/>

<tr th:each="post: ${posts}">
    <div class="header-post">
        <h2><a th:text="${post.title}" th:href="@{'/post/' + ${post.id}}"</a> </h2>
    </div>
    <div class="body-post"><p>${post.body}</p></div>
    <div><p>Created by: ${post.user.username}</p></div>
</tr>

<div th:replace="footer::footer"/>

</body>
</html>